* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans Math', 'Arial';
  background-color: silver;
}
body::after {
  content: "";
  background: url('./images/bg-calculator.jpg');
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.7;
}
#calculator-container {
  background-color: #333;
  padding: 1rem;
  width: 24rem;
  border-radius: 0.4rem;
}

/* DisplayPanel */
#display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: aquamarine;
  border: 2px solid gray;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.memory {
  font-size: 1.1rem;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  color:#222;
  opacity: 0.7;
  visibility: hidden;
}
.show-memory {
  visibility: visible;
}
.calculation-container {
  text-align: end;
  margin-bottom: 0.7rem;
  margin-right: 0.5rem;
}
.calculation-container > input {
  font-size: 1.7rem;
  background-color: transparent;
  border: 0;
  outline: none;
  text-align: end;
  width: 100%;
}

/* Keypad */
#keypad {
  width: 100%;
  background-color: transparent;
}
.row {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.row div {
  flex: 1 1 1.3rem;
  font-size: 1.3rem;
  padding: 0.5rem 0rem;
  background-color: #222;
  color: white;
  margin: 0.2rem;
  border-top: 2px solid #555;
  border-left: 2px solid #555;
  border-right: 2px solid #444;
  border-bottom: 2px solid #444;
  border-style: outset;
  border-radius: 0.3rem;
  cursor: default;
}
.row div:active {
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-style: inset;
}
.row .number {
  background-color: silver;
  color: #111;
}
.row .operator {
  background: linear-gradient(#333, #222);
}
.row.advanced-buttons {
  margin-bottom: 0.5rem;
}
.row.advanced-buttons div, .row.first-row div {
  font-size: 1.2rem;
  padding: 0.3rem
  }
.row.first-row div:not(#all-clear) {
  background: #333;
  color: #ED9121;
}
#all-clear {
  background-color: #900D09;
}
#equal {
  background:#2E5894;
  font-weight: 700;
}
#clear {
  background:  #ED9121;
  color: #111;
  font-weight: 700;
}
.row .decimal-point {
  background: silver;
  color:#111;
}
.row.last-row {
  margin-top: 0.5rem;
}

@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }
  #calculator-container {
    width: 100%;
    min-width: 22rem;
  }
}